body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: transparent;
    color: #333;
    overflow-x:hidden;
    overflow-y: hidden;
}

.chatpage {
    display: flex;
    flex-direction: column;
}

.chatbar-button {
    background-color: transparent;
    margin-left: 20px;

    border-radius: 500px;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.089);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.3s ease;
}

.chatbar-button:hover {
    cursor: pointer;
}

.chatbar-button img {
    opacity: 0.2;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.466));

    padding-left: 4.5px;
    padding-right: 4.5px;
}

.chatbar-image {
    width: 70px;
    height: auto;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
    position: relative;
    padding: 10px;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.466));
    margin-right: 10px;
}



.imported-holder {
    outline: 1px solid rgba(0, 0, 0, 0.103);
    width: calc(100% - 57.5px);
    padding: 5px;
    border-radius: 13px;
    background-color: white;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.062);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;

    height: 75px;
    margin-top: 10px;
    transform: translateY(190%);
}


.animate {
    opacity: 1;
    transform: translateY(0);
}




.imported-pending {
    display: flex;
    height: 100%;
    width: 100%;

    justify-content: center;
}




.imported-del {
    opacity: 0.2;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.466));

    padding-left: 4.5px;
    padding-right: 4.5px;
    width: 30px;
    height: auto;
    outline: 1px solid rgba(0, 0, 0, 0.425);
    padding: 5px;
    border-radius: 50px;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.144);
    margin-left: 10px;
    margin-right: 10px;
}

.imported-del:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #141414;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    padding-left: 20px;
    border-radius: 30px;
    margin-top: 4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.034);
    position: relative;
    margin-bottom: 20px;
    height: 47px;
    margin-left: 23px;
    width: 80px;
    transition: all 0.3s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 0.3;
        transform: translateY(0);
    }
}

.slide-up {
    
    animation: slide-up 0.4s ease;
}

.navbar-item {
    width: 25px;
    height: 25px;
    opacity: 0.3;
    margin-bottom: 0px;
    outline: 1px solid rgba(0, 0, 0, 0.301);
    padding: 5px;
    border-radius: 100px;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.068);
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.397));
    margin-left: 10px;
    animation: slide-up 0.4s ease;
}

.navbar img:not(.navbar-item) {
    outline: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 100px;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.021);
    -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.397));
    width: 35.5px;
    height: auto;
    transform: translateX(-19px);
    margin-right: -15px;
}

.navbar-emblem {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 6px;
}

.navbar-parent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
 
}

.navbar-button {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 6px;
}

.navbar a {
    text-decoration: none;
    color: #141414;
    padding: 0 8px;
    font-size: 12px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    padding: 20px;
    color: rgb(0, 0, 0);

}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('background.png') no-repeat center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
    
}


.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    text-shadow: 0px 2px 5px #2434692f;
}

.hero a {
    padding: 10px 30px;
    background: #f5576f;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #2434692f;
}

.features {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.feature {
    margin-top: 10px;
    background: transparent;
    padding: 10px; /* Use even padding for consistent spacing */
    text-align: center;
    border-radius: 70px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.055);
    width: calc(100% - 60px); /* Adjusted width to align with padding */

    bottom: 25px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    outline: 1px solid rgba(0, 0, 0, 0.103);
    transition: all 0.3s ease;
}

.chat-field {
    position: relative;
    width: 100%; /* Ensures the chat field uses full available width */
    height: 40px;
    border-radius: 30px;
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    background: transparent;
    padding: 0 10px; /* Optional padding for input text */
    outline: 1px solid rgba(0, 0, 0, 0.103);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.062); /* For a subtle inner shadow */

}


#file-input {
    display: none;
  }

.blurred {
    animation: blurAnimation 0.5s forwards;
}

.non-blurred {
    animation: blurOut 0.5s forwards;
}

@keyframes blurAnimation {
    from {
        filter: blur(0px);
    }
    to {
        filter: blur(3px);
    }
}

@keyframes blurOut {
    from {
        filter: blur(3px);
    }
    to {
        filter: blur(0px);
    }
}

.inactive {
    pointer-events: none;
    user-select: none;
}

.settings-buttons {
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    background-color: transparent;
    margin-top: 20px;
    width: calc(100%);
    border-radius: 7px;
    height: 40px;
    color: rgb(129, 129, 129);
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
}


.settings-button:active {
    transform: scale(0.9) translateY(2px);
    background-color: #1f6f97;
}

.settings-fields {
    margin-top: 10px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    text-align: center;
    height: 40px;
    border-radius: 7px;
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: transparent;
}



.chatpage {
    width: 100%;
    height: 100%;
}



.message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 18px;
    margin-top: 6px;
    width: 100%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.062);
    margin-bottom: 10px;
    text-align: left;
}

.message img:not(.sent-image) {
    width: 40px;
    height: 40px;
    border-radius: 120px;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    transform: translateY(10px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.062);
    margin-left: 10px;
}



.message-text {
    transform: translate(10px, -3px);
    width: 80%;
}

.message h3 {
    text-decoration: none;
    color: #141414b4;
    font-size: 15px;
    margin-bottom: -18px;
    font-weight: 700;
}

.message h4 {
    text-decoration: none;
    color: #00000070;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 7px;
    margin-left: 1px;
    line-height: 18px;
    width: 97%;
}

.chat-box {
    padding: 19.5px 25px;
    background: transparent;
    text-align: left;
    border-radius: 25px;
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.062);
    width: calc(100% - 100px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    outline: 1px solid rgba(0, 0, 0, 0.103);
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 210px);
    transition: height 0.5s ease;
}


.sent-image {
    width: 200px;
    height: auto;
    outline: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 15px;
    position: relative;
    padding: 10px;
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.089));
    margin-right: 10px;
}

.system-msg-image {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.712);
}

.settings {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: calc(100% - 100px);
    position: absolute;
    height: calc(100% - 200px);
    outline: 1px solid rgba(0, 0, 0, 0.103);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.settings-parent {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
}

.navbar-button:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.103);;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

.chat-field::placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.feature h3 {
    margin-bottom: 10px;
}

.feature p {
    color: #666;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}